* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 800px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header nav {
    width: 100%;
    height: 100px;
}

.nav {
    z-index: 1;
}

.burger {
    display: none;
}

.burg-menu {
    display: none;
}

header .main-inf {
    margin-top: 300px;
}

header nav .logo {
    margin-left: 70px;
    margin-top: 30px;
}

header nav .nav-bar {
    height: auto;
    display: inline-block;
    float: right;
    margin-top: 45px;
    margin-right: 100px;
    list-style-type: none;
}

header nav .nav-bar a {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: all 0.2s linear;
}

header nav .nav-bar a:hover {
    color: grey;
}

header nav .plus li {
    background-color: white;
    color: grey;
    border-radius: 10px;
    margin-left: 100px;
    padding: 5px;
    transition: all 0.2s linear;
}
 
header .main-inf {
    width: 100%;
    height: auto;
}

header .main-inf .title {
    margin-top: 150px;
    color: white;
    font-size: 20px;
}

header .main-inf .title2 {
    margin-top: 30px;
    color: white;
    font-size: 40px;
}

header .main-inf .find {
    background-color: white;
    margin-top: 50px;
    width: 85%;
    height: 70px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header .main-inf .find .areas, .adress, .price {
    font-size: 15px;
    border: none;
    margin: 10px;
    outline: none;
}

header .main-inf .find .areas, .adress {
    border-right: 1px solid grey;
}

header .main-inf .find .search:hover {
    cursor: pointer;
}

header .main-inf option {
    font-size: 18px;
}

header .main-inf .icons {
    margin-top: 100px;
    height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: center;
}

header .main-inf .icons div {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 0px auto;
    cursor: pointer;
    transition: all 0.4s linear;
}

header .main-inf .icons div:hover {
    background-color: #222327;
}

header .main-inf .icons div img {
    margin-top: 20px;
}

header .main-inf .icons .car {
    margin-top: 25px;
}

.main {
    width: 100%;
    height: 1000px;
    background-color: white;
}

.main center .main-descr {
    margin-top: 100px;
}

.main center .main-descr2 {
    margin-top: 50px;
    color: grey;
}

 @keyframes animat {
    from {transform: translateX(40px);}
    to {transform: translateX(-40px);}
 }

.anim {
    animation: animat 1s;
}  


.main .slide {
    width: 80%;
    height: 600px;
    background-color: #222327;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 0px;
}

.main .slide .slide-left {
    background-color: aquamarine;
    grid-template-columns: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 0px;
}

.main .slide .slide-left div {
    background-color: #8d99af;
    border-bottom: 1px solid black;
}

.main .slide .slide-left div:hover {
    cursor: pointer;
}

.main .slide .slide-left .slide-1 .circle1, .main .slide .slide-left .slide-2 .circle2, .main .slide .slide-left .slide-3 .circle3, .main .slide .slide-left .slide-4 .circle4, .main .slide .slide-left .slide-5 .circle5{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 40px 20px;
    background-color: white;
    display: inline-block;
}

.main .slide .slide-left .slide-1 p, .main .slide .slide-left .slide-2 p, .main .slide .slide-left .slide-3 p, .main .slide .slide-left .slide-4 p, .main .slide .slide-left .slide-5 p {
    display: inline-block;
    font-size: 25px;
    color: white;
    transform: translateY(-15px);
}

.img1, .img2, .img3, .img4, .img5 {
    margin: 10px 10px;
}

.main .slide .slide-right {
    background-color: rgb(58, 61, 66);
    grid-template-columns: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 20px;
}

.main .slide .slide-right div {
    margin: 40px;
}

.main .slide .slide-right .left h2 {
    color: white;
    margin-top: 100px;
    text-align: center;
}

.main .slide .slide-right .left p {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 18px);
}

.main .slide .slide-right .right img {
    margin-top: 100px;
    height: 400px;
    width: 375px;
}


.slide-right .left button {
    margin-top: 30px;
    font-size: 20px;
    padding: 10px;
}

.main2 {
    width: 100%;
}

.main2-p1 {
    font-size: 50px;
}

.main2-p2 {
    font-size: 20px;
    color: grey;
    margin-top: 50px;
}

.slide2 {
    width: 80%;
    height: 1200px;
    margin: 50px auto;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.slide-item {
    background-color: #F5F5F5;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: stretch;
    align-items: stretch;
    transition: all 1s linear;
}

.slide-item a {
    text-decoration: none;
}

.slide-item a:hover {
    border: 1px solid grey;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 10px;
}

.item-title {
    color: black;
    margin-top: 30px;
    font-size: 30px;
}

.item-descr {
    color: grey;
    margin-top: 20px;
    font-size: 15px;
}

.item-cost, .item-details {
    margin-top: 15px;
    font-size: 20px;
}

.item-bed, .item-beth {
    margin-top: 10px;
    font-size: 20px;
}

.elem-review {
    color: black;
    margin-top: 35px;
    font-size: 20px;
}

.elem-contact {
    color: black;
    margin-top: 20px;
    font-size: 20px;
}

.dots {
    margin-top: -50px;
}

.dots a {
    font-size: 100px;
    cursor: pointer;
    margin: 5px;
    color: grey;
}

.dots .dot1 {
    color: black;
}


.last {
    width: 80%;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 30px;
}

.last div {
    padding: 10px;
}

.last .last-left p {
    font-size: 20px;
    margin-top: 10px;
}

.lastcenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 10px;
    font-size: 20px;
}

.cen-h2 {
    color: grey;
}

.ri-h2 {
    color: grey;
}

.ri-p1 {
    font-size: 17px;
}

.ri-p2 {
    display: inline-block;
}

.ri-p22 {
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.footer {
    width: 80%;
    height: auto;
    margin: 10px auto;
}


@media only screen and (max-width: 1350px) {
    .main .slide .slide-right div {
        margin: 10px;
    }
    
        .item-title {
/*
        color: black;
        margin-top: 30px;
*/
        font-size: 25px;
}

    .item-descr {
/*
        color: grey;
        margin-top: 20px;
*/
        font-size: 10px;
    }

    .item-cost, .item-details {
/*        margin-top: 15px;*/
        font-size: 15px;
    }

    .item-bed, .item-beth {
/*        margin-top: 10px;*/
        font-size: 15px;
    }

    .elem-review {
/*        margin-top: 35px;*/
        font-size: 15px;
    }

    .elem-contact {
/*        margin-top: 20px;*/
        font-size: 15px;
    }
    
    .slide2 {
        height: 1200px;
        grid-gap: 20px;
    }
 
}


@media only screen and (max-width: 1200px) {
    .nav-bar a li {
        margin-right: -15px;
    }
    
    header nav .plus li {
        margin-left: 40px;
    }
    
    header .main-inf {
        margin-top: 100px;
    }
    
    header {
        height: 600px;
    }
    
    .main .slide .slide-left .slide-1 p, .main .slide .slide-left .slide-2 p, .main .slide .slide-left .slide-3 p, .main .slide .slide-left .slide-4 p, .main .slide .slide-left .slide-5 p {
        display: none;
    }
    
    .main .slide {
        grid-template-columns: 10% 90%;
    }
    
    .slide-left a div div {
        margin: 0px auto;
    }
    
    .dz-nkar {
        width: 400px;
    }
}

@media only screen and (max-width: 1024px) {
   
    .dz-nkar {
        width: 300px;
    }
    
    .nav-bar a li {
        font-size: 15px;
    }
    
    header nav .plus li {
        
    }
}

@media only screen and (max-width: 1100px) {
    .main .slide {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    .slide-left {
        grid-template-rows: 1/2;
    }
    
    .slide-right {
        grid-template-rows: 2/2;
    }
}

@media only screen and (max-width: 850px) {
    
    .burger {   
        display: inline-block;
        float: right;
        width: 60px;
        height: 60px;
        margin-top: 25px;
        cursor: pointer;
    } 
    
    .nav-bar a li {
        display: none;
    }
    
    header nav .nav-bar {
        display: none;
    }
    
    .burg-menu {
        position: absolute;
        z-index: 1;
        background-color: white;
        color: black;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0.9;
        padding: 20px;
    }
    
    .burg-menu center {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: stretch;
        align-items: stretch;
    }
    
    .burg-menu center a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        background-color: lightgrey;
    }
    
    .close {
        cursor: pointer;
    }
}













